<div class="hero">
  <div class="hero-text">
    <h1>Cocoon</h1>
    <p> travailler est un lifestyle,</p>
    <p> travaille dans la nature près de chez toi</p>
    <a href="" class="hero-btn">S’abonner</a>
  </div>
</div>
<div style="display: flex;" class="container mt-5">
  <div class="row">
    <div class="col-5">
      <h2>Le travail repensé</h2>

      <h3>Deviens membre Cocoon et accède à des tarifs d’hôtels et de maisons pensés pour le travail et les loisirs, notamment en semaine, proche des grandes villes</h3>

      <a href="" class="hero-btn">S’abonner</a>
    </div>

    <div class="col-3"></div>

    <div class="col-4">
      <% @hotels_preview.each do |hotel| %>
        <div class="card mt-3">
          <%= link_to (hotel_path(hotel)) do %>
            <img src="https://www.bestjobersblog.com/wp-content/uploads/2019/07/Nuit-Insolite-Corse-Cocoon-Village.jpg" alt=""> <br>
            <%= hotel.name %> <br>
            <%= hotel.normalPrice %> <br>
            <%= hotel.discountPrice %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-5" style="background-color: #F7F7F7;">
  <h2 class="text-center">Rejoins la famille Cocoon</h2>
  <div class="d-flex container mt-5">
    <div class="row">
      <div class="col text-center">
        <i class="fas fa-tv"></i>
        <h3>Tu t’abonnes</h3>
        <p>Et tu accèdes à une sélection d’hôtels et de maisons à des prix te permettant d’y aller régulièrement en semaine</p>
      </div>
      <div class="col text-center">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Choisis tes dates et ton Cocoon</h3>
        <p> Les lieux sélectionnés par Cocoon ont des espaces de travail, une bonne connection internet, et des services d’hospitalité traditionnels sélectionnés pour leur qualité et leur proximité </p>
      </div>
      <div class="col text-center">
        <i class="far fa-heart"></i>
        <h3>Profite d’un nouveau lifestyle</h3>
        pQue rêver de mieux que de travailler, de te divertir,
et de rencontrer de nouvelles personnes dans des environnements agréables plutôt que de rester chez soi
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <a href="" class="hero-btn mb-5">S’abonner</a>
  </div>
</div>
<div class="row justify-content-between mx-5 mt-5">
  <% @hotels.each do |hotel| %>
          <div class="card col-3">
            <%= link_to (hotel_path(hotel)) do %>
              <img src="https://www.bestjobersblog.com/wp-content/uploads/2019/07/Nuit-Insolite-Corse-Cocoon-Village.jpg" alt="">
              <%= hotel.name %> <br>
              <%= hotel.normalPrice %> <br>
              <%= hotel.discountPrice %>
            <% end %>
          </div>
        <% end %>
</div>

<% @categories.each do |category| %>
  <%= link_to category.price, category_path(category) %>

<% end %>
