  <div class="hero-image">
    <div class="hero-text">
      <h1><%= @hotel.name %></h1>
      <a href="#" class="mt-3 btn btn-light btn-lg" role="button" >Le COCOON en photos</a>
    </div>

  </div>

  <div class="container-fluid justify-content-between" style="width: 80%;">
    <div class="row p-5">
      <div class="col-xl-8 col-lg-6 px-5">
        <div class="row my-5"><h2 style="font-size: 40px ;"><%= @hotel.name %></h2></div>
        <div class="row ">
          <div class="col-3 text-center"><button type="button" class="btn btn-outline-secondary" style="font-family: Roboto ;">CAT 3</button></div>
          <div class="col-3 align-self-center"><p>Rolleboise,&nbsp;&nbsp;France</p></div>
          <div class="col text-center"><span class="fa fa-star checked"></span><p>4,98</p></div>
        </div>
          <div class="row my-5 text-justify">
          <p><%= @hotel.description %></p></div>

          <div class="row my-5 justify-content-center" ><a href="#" class="mt-3 btn btn-light btn-lg" role="button" >Le COCOON en photos</a></div>
          <div class="row my-5">
          <div class="col my-2 text-center" ><img class="hotel-img-carous my-2" src="https://s3-alpha-sig.figma.com/img/739f/a89f/ea39bd384b67f83a35bdeb616cc5afe6?Expires=1603670400&Signature=BiDzIjVYeOOM7pW7ep~WP2XrUk1t9CRUwNroIq8PfTLoXXDe~K5gZ8Iah08--dhreTdLiw~VbVzlfXbd8g3adrwkVLDzVbn9XG14VdPhL~Ef7JnnUKNXK841DQ0XIliMYHh7bkpR9IKJSBhX92QoelC~Tuhb6PjXNkrnDosXn3uiSCPq6UUVIYHqXCM5dRe9tVSBoncHkYnvnLm97KBiWXTFEPqukPGwfvvQ13NHyaJJv9mxRm7vNJY0KsScBBOL5DrmrayM5Coh5npXX2Vw~vldrJAugyiBRi93zqV4ZEwWNLZCd4zAAK5P97nR1JEQQKnVqTVZoe-BFN5ep3n-DQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></div>
          <div class="col py-2 text-center"><img class="hotel-img-carous " src="https://s3-alpha-sig.figma.com/img/e265/f204/bf069da4873b02059fd77a056a40d16b?Expires=1603670400&Signature=c0IG86~AuAs-UJMphMk0xYSI26TGkkzjZTOG9ex3zJImmLMn9gE9gR4qI4sRFHVIzECahjfcZhhpLGlkQUyZ1rMj37S9AY-1T7ZBkTvyTokBDkMjm5gONAMg41HjG8uL7t3t9IB5tWdwYU-KaKSv1RAGkH5m~ahpKx~S~j4hNo8QEp5MmcbAV4l~uqqC0kowuObWPsTEJrJ9KK-jttGpfeRjOFTcj15BFQLEi1cpuTe70GvTqnyIwcC9Y-GEnRA-sVBxv5pFo1XJjrFni9Nst2jW5do2E2aWo8sAWMVkgWs6C1SzQ8uk02eVV~q-XVujqCxHdhxikRVN4rtdhLKjww__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></div>
          <div class="col py-2 text-center"><img class="hotel-img-carous " src="https://s3-alpha-sig.figma.com/img/fa25/e9ac/2b1aa296b8661ad30777a6c2c9acc2a4?Expires=1603670400&Signature=Hj0oUQ8BCoCDTmCc8MNIfGt0UqoHNomHeskBJo60YO3ohVuzLDKkQEl9IjL~ghfvXyysfD7mo2~0j1YEyr8-9xSJ5SLGje44X9R5kJU1O~1arR64zCzVg2~1Wrx1l1UybQKZOQ1Q0NcBJk~2XsKhroL5OfLr4gp64PWjBDshNh3SIZdwcpihVliBCoA40n6vkVdfjzr5h5TxjPh-uBoilxnXTqNB5fpaiVJKDCkAdn2FWjQGo9Ut~qcXUrth1o3w3QKPibibs46MmHUrpB2rQNmqFUCSilja2BO2~2xsEJJHIZs-hknP23Eu78208dTYUK1sEFaWc7Hb-cHKA1IaRg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></div>
          <div class="col py-2 text-center"><img class="hotel-img-carous " src="https://s3-alpha-sig.figma.com/img/618a/d400/1b876aac98ec1c57f588b56371a55b06?Expires=1603670400&Signature=TYc0AO8DqEM9RKCgs2qC~Npcy8C6SxKfdbauzA2O5ohv3Gze0riPHHW62ISP-gnV-hCE3ZT-XhtU8Q4BhZvKR6ncBTO2eYQA~~Gz3Ru8Azpsfdx88zIU5O4WBLGX8miuCwOaTUSd-L8W4xVJrtlEo9zseau8-TUNXGzmHayPKBVafWUWuuyuKuDaQHisFix8JYpl6eQbRd6QJ7dB4MufgBV45p4jCYk~PlfY1UDYvdB3~gwasfXZgAD~-vMRxLUD3dMTIOhTn3X15rUSXJYZVbDvF4fN0~Rm-X9bah~-ooQcu5F8gZkw4x-H4z6UA0a62FOREU8~tBAmq45PBdN8Ww__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></div>

          </div>

          <div class="col div-div4" style="color : #d9d9d9 " >
            <h3 class="text-center" style="text-transform: none ; color: black ;" >Inclus dans votre abonnement<br>COCOON</h3>
            <div class="row mx-xl-5 mx-lg-3 my-3 pt-3 text-center" style=";border-radius: 4px ; border: 1.2px solid ; background-color: white ;" >
              <div class="col " ><p>Chambre catégorie A</p></div>
              <div class="col"><i class="fas fa-home"></i></div>
            </div>
            <div class="row mx-xl-5 mx-lg-3 my-3 pt-3 text-center" style="border-radius: 4px ; border: 1.2px solid ; background-color: white ;" >
              <div class="col " ><p>Espace de coworking surplombant la rivière </p></div>
              <div class="col"><i class="fas fa-desktop"></i></div>
            </div>
            <div class="row mx-xl-5 mx-lg-3 my-3 pt-3 text-center" style="border-radius: 4px ; border: 1.2px solid;background-color: white ;" >
              <div class="col " ><p>Tour en bateau</p></div>
              <div class="col"><i class="fas fa-anchor"></i></div>
            </div>
            <div class="row mx-xl-5 mx-lg-3 my-3 pt-3 text-center" style="border-radius: 4px ; border: 1.2px solid;background-color: white ;" >
              <div class="col " ><p>Accès au spa</p></div>
              <div class="col"><i class="fas fa-spa"></i></div>
            </div>
          </div>

          <div class="col py-5">
            <div><h3>Les upgrades, une experience COCOON encore plus unique</h3></div>
            <div class="row py-5">
              <div class="col">
                <div class="hotel">
                  <div class="hotel-position ">
                    <img class="hotel-img-carous" style="border-radius: 5px;" src="https://s3-alpha-sig.figma.com/img/e08a/175b/7dbaf262be2d0fc6d02baef1da2d1b5d?Expires=1603670400&Signature=KkZtH5luI6893dewjOdh~I8oyTcAIoEM1HVyis6wrRkVOTfIj9Z-~M2SjlC31uVPor1OWXn5r-6qM-gqE1yAu6fHr2GnqOcB5rixeC7bDj0Fvr~RFvMzi~IwJnEfNx7f4IKpaLyNJFqB~LBsOgGJ9jTDGx-ZpanJ2ogdl4dA7F6~dFuy9BigYRaxFSNuzGygcU-IJW~RUAwbZ-OChSOEgoHXWC4K7YjNW6enqnYgEPAgrm~eB1VyulxcIfTG8ZT3sJwUb2ZDkUbpWbyO7IlEU3BJUWbbi2DI1J~j08c~9~~de~ydeJIkHZYmGGAXXKo32zfG~PT4bGfedz1Pp2iGEA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                  </div>
                  <div class="hotel-dscr">
                    <h5 class="hotel-title mt-3 mb-1">MASSAGE AU SPA</h5>
                    <p class="hotel-text " >+39€ Upgrade</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="hotel">
                  <div class="hotel-position ">
                    <img class="hotel-img-carous" style="border-radius: 5px;" src="https://s3-alpha-sig.figma.com/img/246c/dda5/433e493c474683e1ba60955b3ed3a152?Expires=1603670400&Signature=TIc-ZaTsX1SRgCQBtdnn4KtpF33dyRCc4VldhoT-oD~fjFMSnmb8LdtfsEcQgmPDuEfWhUF7vWxDEVqnJEYbFFpuTZyaPXSN359g866vSPdsni~mE48bXNgNUvfADhvZYk6d2fjb4e9jiuamyPmOuiqJLBb-xhgpTDz0KPaCdeROwgOs0fxRgxBg47r~GfmW6rmblEIG0u3zcrFGJ-Xs2g1mu~-6ZhP5KHDLlKyc~94mBq9Evfe7tK3aPG8TQ5ZO7T8LKdqunNOA5cPBWjSZYwwudxb-6JMYJh22FuPaGCw4HEoNlnnNt38DezAiLtVoxLwL3q0r6ijOQXyOXTHCww__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                  </div>
                  <div class="hotel-dscr">
                    <h5 class="hotel-title mt-3 mb-1">SÉANCE CINÉMA</h5>
                    <p class="hotel-text " >+9€ Upgrade</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col div-div4">
            <div><h3>Les avis,&nbsp; qu’en pensent les membres de la famille COCOON?</h3></div>
            <div class="row py-3">
              <div class="col-2 text-center">
                <img class="icon-account" src="https://s3-alpha-sig.figma.com/img/c89c/a99b/21e8881aaa8b982bf53622aca106f81d?Expires=1603670400&Signature=FCrrrdlUkCjGJJODIjINgKMmW~YLQVmz--HEu-Cgi0HouPO9O4SzpWIYqn4AaB949ze1nBJHBR6lV1TFk-17f~8DO9Wao4si4hS19opFnin~6CT95kYa9eLiFWCRNrJkLdzFLOSV9wOH0yY~wK~QtzJrwYqEFf1Af9zP4DZ~E47hctxWRWO-57Q49a0Yz1QcDUjd6EPNLi13iDDDly1jLZGg3SQalQK~xGqviwRNUL56bvhdOCQAEhtjTYjvpuSVR7p7zVgMtz26zIFEmD9gqCZOtK7SLaVNy6b9LwGDgThR88ZiLn33g33bKFYzssSkB5XTVWKgpe5TA1REyyYofQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
              </div>
              <div class="col comment">
                <div class="row justify-content-between">
                  <div class="p-2"><p class="name-account">David</p></div>
                  <div class="date-comment p-1 align-self-center"><p style="color: #adadad;">23 septembre 2020</p></div>
                </div>
                <div class="row px-3">
                  <p>Très bonne experience! Chambre spacieuse avec vue imprenable sur l’eau, je recommande fortement.</p>
                </div>
              </div>

            </div>
            <div class="row py-3">
              <div class="col-2 text-center">
                <img class="icon-account" src="https://s3-alpha-sig.figma.com/img/ad34/b835/08f5f7c124a91bd6bf911785327b7029?Expires=1603670400&Signature=MfVyG-xM2RHcFoua-15MYdEUxhB7P9gg0~8sWcGoOchL2LzDUpgqB6UQ-OCKe93jEJL9GkHeJlOOrRP8YrzneC8a5XjLglgkOJgmzOBKMFR5wENAh7ICwD1lzd7LxSSNDNbxAhwtY-6w0A9O-l9wOUnIKEhVgkHrWDqUDFRCdVCabcBj-Bmddg~L9w07a8cGUDlnGj4lkReti~FyRN1-MEtD4vHg-wtvHb-kuIvMfVmY~A-lNdHE~rRSDx3CL3rpD3kPdE4q77nXJQv85P1uINlK1aG7PYBmqU9KMMS1Kz~qhj6wytv91rcCEca6gxhTsdOqCPmJk1QS8EWN1axYNQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
              </div>
              <div class="col comment">
                <div class="row justify-content-between">
                  <div class="p-2"><p class="name-account">Maxime</p></div>
                  <div class="date-comment p-1 align-self-center"><p style="color: #adadad;">3 juillet 2020</p></div>
                </div>
                <div class="row px-3">
                  <p>Ce séjour m’a aidé à booster ma productivité de télétravail tout en profitant d’un cadre somptueux en plein milieu de la nature..</p>
                </div>
              </div>


            </div>
            <div class="row py-3">
              <div class="col-2 text-center">
                <img class="icon-account" src="https://s3-alpha-sig.figma.com/img/85df/f0a6/38c61912c1c840dfae3de5ab05016831?Expires=1603670400&Signature=MeRdRW8l9BCHoOzoxzyEWn1icCwJcmJrYw5UPKT8Fn8OHiOKA1Zrk-3GJSVdASwhw~0tx0YMrprzc3byH6oeYSmUH3hwZZo~4dzUJdgZRFswVRGKLvGrNZBDfuTwv4n0l5y3t0LCCdHItkb2LZtSpgBR1VFNtY87WLYlfu9TVE8GeY29wizo~EnhbNj8shfcHKzRVws1-i13KUKF7ccApC2K6pa4HrkJC7eLift1G~K50k7HNfrHpM5cszKQfG2LaH5vCqycMugx0YO0tXWW3mgnxv5OX9GIAdXBYKSTQzeuVwivc25BxHXc6GkPji4Qt54z16SOK6L-GKhgpJtY0A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
              </div>
              <div class="col comment">
                <div class="row justify-content-between">
                  <div class="p-2"><p class="name-account">Rubens</p></div>
                  <div class="date-comment p-1 align-self-center"><p style="color: #adadad;">20 aout 2020</p></div>
                </div>
                <div class="row px-3">
                  <p>Un lieu insolite qui mérite d’être visité! Les infrastructures du spa ont été très appréciées!</p>
                </div>
              </div>
            </div>
            </div>

            <br>
            <br>
            <div class="col">
              <div><h3 class="text-center p-2" style="text-transform: none ; color: black ;" >Les bonnes infos à savoir</h3></div>
              <div class="row">
                <div class="col-xl-6 col-lg-12">
                  <div class="col div-div4 " style="color : #d9d9d9 ; background-color: white ; border: 1px solid black" >
                    <h3 class="text-left py-3 pl-5 " style="color: black;text-transform: none ; "> Horaires</h3>
                    <div class="row mx-xl-5 mx-lg-3 my-3 pt-3 text-center" style="; border-bottom: 1.2px solid ;" >
                      <div class="col">
                        <div><p style="color: black ;">Check in</p></div>
                        <div><p style="color: black ;">Check out</p></div>
                      </div>
                      <div class="col">
                        <div class="text-right"><p>Dès 12h</p></div>
                        <div class="text-right"><p>Dès 15h</p></div>
                      </div>
                    </div>
                    <div class="row mx-xl-5 mx-lg-3 my-3 text-center" style="border-bottom: 1.2px solid ;" >
                      <div class="col " ><p>Petit déjeuner </p></div>
                      <div class="col text-right"><p>6h45-22h</p></div>
                    </div>
                    <div class="row mx-xl-5 mx-lg-3 my-3 text-center" style="border-bottom: 1.2px solid ;" >
                      <div class="col " ><p>Sauna</p></div>
                      <div class="col text-right"><p>6h45-22h</p></div>
                    </div>
                    <div class="row mx-xl-5 mx-lg-3 my-3 text-center" style="border-bottom: 1.2px solid ;" >
                      <div class="col " ><p>Hammam</p></div>
                      <div class="col text-right"><p>6h45-22h</p></div>
                    </div>
                    <div class="row mx-xl-5 mx-lg-3 my-3 text-center" >
                      <div class="col " ><p>Espace Coworking</p></div>
                      <div class="col text-right"><p>24h/24</p></div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                  <h3 style="color: black;text-transform: none ; ">Le COCOON sur la carte </h3>
                  <div id="map"></div>
                  <script>
                    function initMap(){
                      var options = {
                        zoom = 8,
                        center : {lat: 49.022994,lng:1.609722}
                      }
                      const map = new google.maps.Map(document.getElementById("map"),options);
                    }
                  </script>

                </div>
              </div>
            </div>

            <div class="col py-5">
              <div><h3 class="text-center p-2" style="text-transform: none ; color: black ;">Nos autres COCOON dans la même catégorie</h3></div>
              <div class="row">
                <div class="col">
                  <div class="hotel ">
                    <div class="hotel-position " >
                      <div class="circleCenter">C</div>
                      <img class="hotel-img-carous" src="https://s3-alpha-sig.figma.com/img/f7ec/bc66/0ef5213af5df63be4694a812b4c72bef?Expires=1603065600&Signature=dhvTA29nlB6YuJPReRZ~e7tgK1uU4ow2qoc-l89u3I21WZelgHusGu9tTby-zKd2if0rt09J~fqV0ep~EGHeXkNBKiXTh7OPfOAUOQ~bG0lqDhvn1FpPuQb8GVJKPzeqKgsqDxIKdn-JE1Jg7YZD118MoYV-MuENz0a~eXuS~aa7yznLR4pSoLcpFVU34lD8VcNdlY2~GYvQIok~KQWRkFHXcbcAn-lNlIohaoyb7Ejw-lTMYk1EYaKckVZnsj0LLzIhY-YJWP8orrdvS5zOAMbPQbSxrSJKQm2L8LYju81r3UZCMaVWTFofmwQpb5JBEkiVDOwsY7paM8YN3ijaFw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                    </div>
                    <div class="hotel-dscr">
                      <h5 class="hotel-title mt-3 mb-1">Domaine de la Corniche</h5>
                      <p class="hotel-text " >À partir de Y€/personne - 2 nuits.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="hotel ">
                    <div class="hotel-position " >
                      <div class="circleCenter">C</div>
                      <img class="hotel-img-carous" src="https://s3-alpha-sig.figma.com/img/ca1d/0d10/5544379bbd1797b96a80da31b7a6ffd9?Expires=1604275200&Signature=fl9aHwcfNWzMyguBr-xkvYIM5f5Y3KfsiBuzXv8efffgumdxFQahQY1woBrmS~Lh8ZCRNiSWdRre35f04f11binXCtxmnUnDBjDqKhL3z0oWAwCx0QWS0X-b9ZgbaSMGM2ORoxCS3~w~K0ccW2hWy6ngpFqwMEEuSAvuovGHcGvEMJ38~HZnaR1-OA4FqUSaGIDcXV4W9oEWfzrgjkf8XE29lGYdqKEaUccWJG9cIk7hCWBE7B5vm-DRNjQwlP~SaEoNkYQVAq7PAGTCDB2Bm1QXwR4s68f4K8Kjp82M3G63SohbKSN9LZOTO1oKjnNpALA6ikY~3AMg0yqQfyA~Ow__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                    </div>
                    <div class="hotel-dscr">
                      <h5 class="hotel-title mt-3 mb-1">Les Etangs de Corot - 20min de Paris</h5>
                      <p class="hotel-text " >À partir de Y€/personne - 2 nuits.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="hotel ">
                    <div class="hotel-position " >
                      <div class="circleCenter">C</div>
                      <img class="hotel-img-carous" src="https://s3-alpha-sig.figma.com/img/4d85/d901/7d7913480c2dc2bcf54d48f38683f87b?Expires=1604275200&Signature=AYDL5PxtPK0oWKDTTdWRuzwQU8g~-qOBhfR67JVtz6IheoFLyyXSrwalwFVIzEutynJEq9gtq9VBlmr~d1hAcfBHhOCUBUi4wVG2Z3UHlhceKNAsvu2iVC7pzImCvuGZnok590ssv-Rk3aHLrh~meK8OTIgEw3GyTmTHpOvdCS1UwuBmfvN0zwtz3BxFyWv7VkwCozNJflNeNEME9u6Rc~cC~wfo2G0dQDmZ2DsVtyADrPd7kZ1K7VZM3LQRMpjz6aW~7zNmPsk3PqjXtnW4uS0sRfQCK390nvP6ZKRImvfmEt-b68bH9Y00X930nDx4whvDKpftp2JqW75cXHYLPw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                    </div>
                    <div class="hotel-dscr">
                      <h5 class="hotel-title mt-3 mb-1">Aigle Noir Hôtel - 1h de Paris</h5>
                      <p class="hotel-text " >À partir de Y€/personne - 2 nuits.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="hotel ">
                    <div class="hotel-position " >
                      <div class="circleCenter">C</div>
                      <img class="hotel-img-carous" src="https://s3-alpha-sig.figma.com/img/e408/2783/4c71ba01decd1035b2f0499bc86b7f8a?Expires=1604275200&Signature=dXt-hVbu~Y5JcwgHJxyWtDXpQu5mPP6679a68XeJv89WUwPj9UYwVwc6BAEQJ1YfEd6jJTpq7v5h9pgjbpKjWbBa~1o05rlDLMwIwyEspiA0ysT7CHRU47Z4mTnxBKjKx9Gg7aGv2YfhaLuHWvNBJ6PW4G7JiCXS8q0yNZxF7vwGgTp8x2QPPr9qJS24P-rTpL8d82bEC99Yt9ccHLuRXLFsMPPrv5ieDOeXlsbLB2HJrddW3JB2b3NruFQ77IlnfdgV3AIiKdJMmp6FFgPpMghK3~CnXfyjn1WDEdPGGpdY8iwahCwjm6jv69Bg7xswIZobtLMu9wwlMgUUjYAJ9g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                    </div>
                    <div class="hotel-dscr">
                      <h5 class="hotel-title mt-3 mb-1">Le Manoir des Étilleux - 2h de Paris</h5>
                      <p class="hotel-text " >À partir de Y€/personne - 2 nuits.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

        </div>

      <div class="col-xl-4 col-lg-6 my-3" >
        <div class="sticky-block p-5">
      <form method="get" name="calendar" action="/hotel/roomtypes/:id(.:format)">
          <div class="row">
            <div class="col align-self-center"> <h4 style="color: #adadad ; font-weight: bolder;"><s><%= @hotel.normalPrice %>€</s></h4> </div>
            <div class="col align-self-center" class="text-transform: none;"><h4 style="text-transform: uppercase;"><%= @hotel.discountPrice %>€/nuit</h4></div>
            <div class="col text-right"><span class="fa fa-star checked"></span><p>4,98</p></div>
            </div>
            <div class="row pt-4">
              <div class="col">
                <label for="startdate">Arrivée</label>
                <br>
                      <input type="date" id="start" name="startdate">
                      <br>
              </div>
              <div class="col">
                <label for="enddate">Départ</label>
                <br>
                        <input type="date" name="enddate">
                        <br>
              </div>
            </div>
            <div class="row">
              <div class='col'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker6'>
                     </div>
                  </div>
               </div>
               <div class='col'>
                  <div class="form-group">
                     <div class='input-group date' id='datetimepicker7'>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row ">
              <div class="col pb-0 pt-4">
                <label for="persons">VOYAGEURS</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="number" name="persons">
              </div>
            </div>
            <div class="d-flex justify-content-center py-4 my-4 ">
              <input type="submit" class="btn btn-success btn-lg btn-block" value="Rechercher">
            </div>

            <div class="row justify-content-between">
              <div class="col-9 "><h4 style="text-decoration:underline">99€ x 3 nuits</h4></div>
              <div class="col-3 text-right"><h4>297€</h4></div>
            </div>

            <div class="row justify-content-between">
              <div class="col-9" ><h4 style="text-decoration:underline">1 randonnée à cheval</h4></div>
              <div class="col-3 text-right"><h4>39€</h4></div>
            </div>

            <div class="row my-3 " style="height: 1px ; background-color: #d9d9d9;"></div>

            <div class="row justify-content-between">
              <div class="col-9 "><h4 style="font-weight: bolder;">Total =</h4></div>
              <div class="col-3 text-right"><h4>336€</h4></div>
            </div>

          </div>
      </form>
        </div>
      </div>
    </div>
  </div>

<footer class="page-footer">
    <div class="container justify-content-center mt-5 pb-2">
      <div class="row  ">
        <div class="col text-muted">
        <p>© 2020 par Cocoon Houses SAS</p>
        </div>
        <div class="col mb-2 text-center">
          <a class="px-2 iconbtn fab fa-instagram "></a>
          <a class="px-2 iconbtn fab fa-facebook"></a>
          <a class="px-2 iconbtn fab fa-linkedin"></a>
          <a class="px-2 iconbtn fab fa-twitter"></a>
          <a class="px-2 iconbtn fab fa-youtube"></a>
        </div>
        <div class="col text-right" >
          <a href="#" class="pt-1 btn btn-success " role="button" >S’abonner</a>
        </div>
      </div>
      <div class="row my-3 " style="height: 1px ; background-color: #484848;"></div>
      <div class="row ">
        <div class="col"><p>Accueil</p></div>
        <div class="col"><p>A propos</p></div>
        <div class="col-1.5 mx-3"><p>Comment ça marche</p></div>
        <div class="col-1.5 mx-3"><p>Deviens Membre</p></div>
        <div class="col-1.5 mx-3"><p>Explore nos cocoons</p></div>
        <div class="col"><p>Contacts</p></div>
        <div class="col"><p>Entreprises</p></div>
        <div class="col"><p>Hôtels</p></div>
      </div>
    </div>
  </footer>












<%= simple_form_for [@hotel, @roomtypes] do |f| %>


            <div class="payment-dets">
              <div class="payment-title">
              <p class="payment-dets border-bottom">Payment Details</p>
              </div>
              <div id="tot-price-days">
                <p><span id='location-price'><%= @hotel.discountPrice%></span> x <span class='total-price-days'>0</span> day(s)</p>
                <p class="tp-container" ><span class="tp">TOTAL PRICE</span><span class="price-container" ><span id='total-price'>0</span>€</span></p>
              </div>
            </div>

  <%= f.submit "Book" %>

<% end %>




<script type="text/javascript">
  $(window).scroll(function(){
  $('nav',).toggleClass('scrolled',$(this).scrollTop() >400) ;
  }) ;
</script>
